/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    width: 100vw;
    background-color: #4299e1; /* Primary theme color */
    color: #ffffff; /* White text */
    text-align: center;
    padding: 1.5rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    letter-spacing: 1px; /* Add spacing between letters */
  }
  
  @media (max-width: 768px) {
    .header h1 {
      font-size: 1.75rem; /* Reduce font size on smaller screens */
    }
  }